.profile-image {
    max-width: 65%;
    height: auto;
    display: block;
    margin: 0 auto; 
    border: 2px solid #333; 
    /* border-radius: 100%;  */
  }

  /* Custom section styles */
  #about {
    background-color: #f8f9fa; /* Light gray */
    text-align: justify; /* Justify text */
  }

  #education {
    background-color: #e9ecef; /* Light gray */
    text-align: justify; /* Justify text */
  }

  #skills {
    background-color: #f8f9fa; /* Light gray */
    text-align: justify; /* Justify text */
  }

  #projects {
    background-color: #e9ecef; /* Light gray */
    text-align: justify; /* Justify text */
  }

  #internships {
    background-color: #f8f9fa; /* Light gray */
    text-align: justify; /* Justify text */
  }

  #activities {
    background-color: #e9ecef; /* Light gray */
    text-align: justify; /* Justify text */
  }

  #achievements {
    background-color: #f8f9fa; /* Light gray */
    text-align: justify; /* Justify text */
  }

  #personal-details {
    background-color: #e9ecef; /* Light gray */
    text-align: justify; /* Justify text */
  }

  #reference {
    background-color: #f8f9fa; /* Light gray */
    text-align: justify; /* Justify text */
  }
  .card {
    margin-bottom: 10px;
  }

  body {

    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.slider {
    width: 80%;
    max-width: 1240px;
    height: auto;
    overflow: hidden;
    position: relative;
    border: 2px solid #ccc;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box; /* Ensures padding and border are included in the element's total width and height */
}

.slide img {
    width: 100%;
    height: auto;
    max-height: 160vh;
    object-fit: cover;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

button.prev {
    left: 10px;
}

button.next {
    right: 10px;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
